{:paths ["src" "resources"]
 :deps {ai.miniforge/connector      {:local/root "../connector"}
        ai.miniforge/connector-auth {:local/root "../connector-auth"}
        ai.miniforge/connector-http {:local/root "../connector-http"}
        metosin/malli               {:mvn/version "0.16.4"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
