{:paths ["src" "resources"]
 :deps {ai.miniforge/config {:local/root "../config"}
        ai.miniforge/logging {:local/root "../logging"}
        ai.miniforge/schema {:local/root "../schema"}
        metosin/malli {:mvn/version "0.16.4"}
        org.clojure/core.async {:mvn/version "1.6.681"}
        cheshire/cheshire {:mvn/version "5.13.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
