{:paths ["src" "resources"]
 :deps {ai.miniforge/logging {:local/root "../logging"}
        ai.miniforge/messages {:local/root "../messages"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
