{:paths ["src" "resources"]
 :deps {ai.miniforge/connector {:local/root "../connector"}
        metosin/malli             {:mvn/version "0.16.4"}
        cheshire/cheshire          {:mvn/version "5.13.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
