{:paths ["src" "resources"]
 :deps {ai.miniforge/connector     {:local/root "../connector"}
        ai.miniforge/data-quality  {:local/root "../data-quality"}
        ai.miniforge/dataset       {:local/root "../dataset"}
        ai.miniforge/pipeline      {:local/root "../pipeline"}
        ai.miniforge/dag-executor     {:local/root "../dag-executor"}
        ai.miniforge/event-stream     {:local/root "../event-stream"}
        ai.miniforge/schema           {:local/root "../schema"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
