{:paths ["src" "resources"]
 :deps {ai.miniforge/schema {:local/root "../schema"}
        ai.miniforge/logging {:local/root "../logging"}
        ai.miniforge/messages {:local/root "../messages"}
        ai.miniforge/knowledge {:local/root "../knowledge"}
        ai.miniforge/workflow {:local/root "../workflow"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {ai.miniforge/llm {:local/root "../llm"}
                               ai.miniforge/artifact {:local/root "../artifact"}}}}}
