{:paths ["src" "resources"]
 :deps {ai.miniforge/schema {:local/root "../schema"}
        metosin/malli {:mvn/version "0.16.4"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
