{:paths ["src" "resources"]
 :deps {ai.miniforge/schema {:local/root "../schema"}
        ai.miniforge/config {:local/root "../config"}
        ai.miniforge/event-stream {:local/root "../event-stream"}
        metosin/malli {:mvn/version "0.16.4"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
