{:paths ["src" "resources"]
 :deps {ai.miniforge/dag-primitives {:local/root "../dag-primitives"}
        ai.miniforge/task {:local/root "../task"}
        ai.miniforge/loop {:local/root "../loop"}
        ai.miniforge/logging {:local/root "../logging"}
        ai.miniforge/schema {:local/root "../schema"}
        ai.miniforge/agent {:local/root "../agent"}
        ai.miniforge/artifact {:local/root "../artifact"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
