{:paths ["src" "resources"]
 :deps {ai.miniforge/connector       {:local/root "../connector"}
        ai.miniforge/connector-auth  {:local/root "../connector-auth"}
        ai.miniforge/connector-retry {:local/root "../connector-retry"}
        cheshire/cheshire        {:mvn/version "5.13.0"}
        org.babashka/http-client {:mvn/version "0.4.22"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
