{:paths ["src" "resources"]
 :deps {ai.miniforge/algorithms {:local/root "../algorithms"}
        metosin/malli {:mvn/version "0.16.4"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
