{:paths ["src" "resources"]
 :deps {ai.miniforge/config     {:local/root "../config"}
        cheshire/cheshire        {:mvn/version "5.13.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
