{:paths ["src" "resources"]
 :deps {ai.miniforge/schema {:local/root "../schema"}
        ai.miniforge/pipeline-pack {:local/root "../pipeline-pack"}
        ai.miniforge/metric-registry {:local/root "../metric-registry"}
        ai.miniforge/datalevin {:local/root "../datalevin"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
