{:paths ["src" "resources"]
 :deps {ai.miniforge/connector-linter {:local/root "../connector-linter"}
        ai.miniforge/event-stream {:local/root "../event-stream"}
        ai.miniforge/llm {:local/root "../llm"}
        ai.miniforge/loop {:local/root "../loop"}
        ai.miniforge/messages {:local/root "../messages"}
        ai.miniforge/policy-pack {:local/root "../policy-pack"}
        ai.miniforge/repo-analyzer {:local/root "../repo-analyzer"}
        ai.miniforge/response {:local/root "../response"}
        ai.miniforge/semantic-analyzer {:local/root "../semantic-analyzer"}
        ai.miniforge/logging {:local/root "../logging"}
        ai.miniforge/tool-registry {:local/root "../tool-registry"}
        slingshot/slingshot {:mvn/version "0.12.2"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {}}}}
