{:paths ["src" "resources"]
 :deps {ai.miniforge/config {:local/root "../config"}
        ai.miniforge/logging {:local/root "../logging"}
        ai.miniforge/schema {:local/root "../schema"}
        com.cognitect/transit-clj {:mvn/version "1.0.333"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
