{:paths ["src" "resources"]
 :deps {ai.miniforge/schema {:local/root "../schema"}
        ai.miniforge/metric-registry {:local/root "../metric-registry"}
        ai.miniforge/pipeline-config {:local/root "../pipeline-config"}}
 :aliases {:test {:extra-paths ["test" "test-resources"]
                  :extra-deps {}}}}
