{:paths ["src" "resources"]
 :deps {metosin/malli                 {:mvn/version "0.16.4"}
        ai.miniforge/anomaly          {:local/root "../anomaly"}
        ai.miniforge/dag-primitives   {:local/root "../dag-primitives"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
