{:paths ["src" "resources"]
 :deps {ai.miniforge/workflow {:local/root "../workflow"}
        ai.miniforge/artifact {:local/root "../artifact"}
        ai.miniforge/dag-executor {:local/root "../dag-executor"}
        ai.miniforge/logging {:local/root "../logging"}
        ai.miniforge/messages {:local/root "../messages"}
        babashka/fs {:mvn/version "0.5.22"}
        babashka/process {:mvn/version "0.5.22"}}}
