{:paths ["src" "resources"]
 :deps {ai.miniforge/anomaly {:local/root "../anomaly"}
        metosin/malli        {:mvn/version "0.16.4"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
