{:heuristic/lifecycle
 {:statuses [:draft :shadow :canary :active :deprecated]
  :machine-config
  {:fsm/id :heuristic-lifecycle
   :fsm/initial :draft
   :fsm/context {}
   :fsm/states
   {:draft {:on {:promote-to-shadow :shadow
                 :deprecate :deprecated}}
    :shadow {:on {:promote-to-canary :canary
                  :deprecate :deprecated}}
    :canary {:on {:promote-to-active :active
                  :deprecate :deprecated}}
    :active {:on {:deprecate :deprecated}}
    :deprecated {:type :final}}}
  :transition-events
  {[:draft :shadow] :promote-to-shadow
   [:draft :deprecated] :deprecate
   [:shadow :canary] :promote-to-canary
   [:shadow :deprecated] :deprecate
   [:canary :active] :promote-to-active
   [:canary :deprecated] :deprecate
   [:active :deprecated] :deprecate}}}
